Repository fga-eps-mds/2024.1-SENTINELA-DOC, pull requests merged in 2024-09, with the labels that each got.

#111 Documento de qualidade
  docs/gestao/planoQualidade.md
  mkdocs.yml
Labels: documentation, EPS

#126 Doc arq
  docs/assets/Arquitetura_SENTINELA.png
  docs/assets/Conceitual_Finance.png
  docs/assets/Conceitual_benefits.png
  docs/assets/Conceitual_users.png
  docs/assets/package_diagram_backend.png
  docs/assets/package_diagram_front.png
  docs/gestao/arquitetura.md
Labels: documentation, DOCS, ARQ

#121 Atualização do documento de qualidade com métricas
  docs/gestao/planoQualidade.md
Labels: documentation, DOCS
